<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Exam.Properties.Settings.MarshirutConnectionString"
            connectionString="Data Source=DESKTOP-IITVJLG\SQLEXPRESS;Initial Catalog=Marshirut;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>